In [1]:
import pandas as pd

In [2]:
index=['A','B','C','D']
file1=pd.read_csv("E:\\Personal\\Python\\ML_Project\\InputFiles\\file1.csv",header=None)

#df_file1=pd.DataFrame(file1,col=['A','B','C','D'])

val1=file1[3].sum()

In [3]:
file2=pd.read_csv("E:\\Personal\\Python\\ML_Project\\InputFiles\\file2.csv",header=None)

#df_file1=pd.DataFrame(file1,col=['A','B','C','D'])

val2=file2[3]

In [4]:
if file1[3].sum()==file2[3].sum():
    print("Equal Value")
else:
    print("Not Equal")

Equal Value

# Comma Dellimited

In [73]:
import numpy as np

data=np.loadtxt("C:\\Users\\kamit\\Desktop\\DataScience\\ML_Project\\InputFiles\\file1.csv",dtype=np.unicode,delimiter="|",skiprows=0)

df_file1=pd.DataFrame(data,columns=['A','B','C','D'])
df_file1

   A    B    C    D
0  D  abc  noh  200
1  D  abc  noh  250
2  D  abc  noh  150

In [91]:
arr=np.array(df_file1['D'])
sum_file1=0
for i in arr:
    sum_file1+=int(i)
sum_file1

600

In [87]:
data=np.loadtxt("C:\\Users\\kamit\\Desktop\\DataScience\\ML_Project\\InputFiles\\file2.csv",dtype=np.unicode,delimiter="|",skiprows=0)

df_file2=pd.DataFrame(data,columns=['A'])
df_file2
#data

     A
0    T
1  abc
2  noh
3  600

In [72]:
int(df_file2['A'][3])

600

In [92]:
if sum_file1==int(df_file2['A'][3]):
    print("Equal Value")
else:
    print("Not Equal")

Equal Value

# Using Panda to read Files

In [110]:
data1=pd.read_csv("C:\\Users\\kamit\\Desktop\\DataScience\\ML_Project\\InputFiles\\file1.csv", sep='|', dtype=None, header=None, skiprows=None, index_col=None, skip_blank_lines=True,na_filter=True) 
data1[3].sum()

600

In [111]:
data2=pd.read_csv("C:\\Users\\kamit\\Desktop\\DataScience\\ML_Project\\InputFiles\\file2.csv", sep='|', dtype=None, header=None, skiprows=None, index_col=None, skip_blank_lines=True,na_filter=True) 
data2[3].sum()

600

In [118]:
tf

Data1=600 and Total_Value of Data2=600 is EQUAL