**Brodcasting**
Scalar broadcasting

In [6]:
import numpy as np

arr=np.arange(20)
print(arr*3)

[ 0  3  6  9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57]

In [18]:
arr1=np.arange(6).reshape(2,3)
arr2=np.arange(2).reshape(2,1)
print(arr1)
print(arr2)

[[0 1 2]
 [3 4 5]]
[[0]
 [1]]

In [19]:
arr1*arr2

array([[0, 0, 0],
       [3, 4, 5]])

**Insert Base BroadCoast**

In [20]:
h=[1,2,3,4,5]
y=[6,7,8,9,10]
h_arr=np.array([h,y])
np.shape(h_arr)

(2, 5)

In [36]:
f=np.array([[6],[4]])
print(f)
np.shape(f)

[[6]
 [4]]

(2, 1)

In [37]:
h_arr*f

array([[ 6, 12, 18, 24, 30],
       [24, 28, 32, 36, 40]])

In [40]:
x=np.array([['AZ','NZ'],['ZM','IND']])
y=np.array([['PK','AO'],['SNZ','BZ']])
print(x)
print(y)

[['AZ' 'NZ']
 ['ZM' 'IND']]
[['PK' 'AO']
 ['SNZ' 'BZ']]

In [47]:
print(np.concatenate((x,y)))    # By default axis=0
print(np.concatenate((x,y),axis=1))

[['AZ' 'NZ']
 ['ZM' 'IND']
 ['PK' 'AO']
 ['SNZ' 'BZ']]
[['AZ' 'NZ' 'PK' 'AO']
 ['ZM' 'IND' 'SNZ' 'BZ']]

In [59]:
id=[1,2,3,4]
name=['Alex','RockY','Mark','Tom']
marks=[80,60,80,90]

id_arr=np.array(id,dtype='float')
id_name=np.array(name)
id_marks=np.array(marks)

print(id_arr)
print(id_name)
print(id_marks)

[1. 2. 3. 4.]
['Alex' 'RockY' 'Mark' 'Tom']
[80 60 80 90]

In [60]:
n_arr=np.stack((id_arr,id_name,id_marks))
n_arr

array([['1.0', '2.0', '3.0', '4.0'],
       ['Alex', 'RockY', 'Mark', 'Tom'],
       ['80', '60', '80', '90']], dtype='<U32')

In [61]:
id_arr.dtype.name # Check the datatype of array

'float64'

In [62]:
n_arr.dtype.name

'str1024'

In [67]:
n_arr1=np.stack((id_arr,id_name,id_marks),axis=0)
n_arr1

array([['1.0', '2.0', '3.0', '4.0'],
       ['Alex', 'RockY', 'Mark', 'Tom'],
       ['80', '60', '80', '90']], dtype='<U32')

In [65]:
n_arr1=np.vstack((id_arr,id_name,id_marks))
n_arr1

array([['1.0', '2.0', '3.0', '4.0'],
       ['Alex', 'RockY', 'Mark', 'Tom'],
       ['80', '60', '80', '90']], dtype='<U32')