We can analyze data in pandas with:

**1. Series**

**2. DataFrames**

**Series**
Series is one dimensional(1-D) array defined in pandas that can be used to store any data type.

**Data Can be :-**

- A **Scalar** value which can be integerValue, string

- A **Python Dictionary** which can be Key, Value pair

- A **Ndarray**

In [8]:
import pandas as pd

# Program to Create series with scalar values  
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data 

# Creating series with default index values 
s = pd.Series(Data) 
s

0    1
1    3
2    4
3    5
4    6
5    2
6    9
dtype: int64

In [ ]:
# predefined index values
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']
si=pd.Series(Data,Index)
si

**Code #3: When Data contains Dictionary**

In [11]:
di={'a':1,'b':2,'c':3,'d':4}
sd=pd.Series(di)
sd

a    1
b    2
c    3
d    4
dtype: int64

**Code #4:When Data contains Ndarray**

In [14]:
# Program to Create ndarray series
data_arr=[[1,2,3,4],[5,6,7,8]]
snd=pd.Series(data_arr)
snd

0    [1, 2, 3, 4]
1    [5, 6, 7, 8]
dtype: object

**DataFrames:**

DataFrames is two-dimensional(2-D) data structure defined in pandas which consists of rows and columns.

In [18]:
a=pd.DataFrame(Data)
a

   0
0  1
1  3
2  4
3  5
4  6
5  2
6  9

In [21]:
dict1 ={'a':1, 'b':2, 'c':3, 'd':4}        # Define Dictionary 1 
Data = {'first':dict1}  # Define Data with dict1 
df = pd.DataFrame(Data)  # Create DataFrame 
df

   first
a      1
b      2
c      3
d      4

In [20]:
# Program to Create Data Frame with two dictionaries 
dict1 ={'a':1, 'b':2, 'c':3, 'd':4}        # Define Dictionary 1 
dict2 ={'a':5, 'b':6, 'c':7, 'd':8, 'e':9} # Define Dictionary 2 
Data = {'first':dict1, 'second':dict2}  # Define Data with dict1 and dict2 
df = pd.DataFrame(Data)  # Create DataFrame 
df

   first  second
a    1.0       5
b    2.0       6
c    3.0       7
d    4.0       8
e    NaN       9

**Code #3: When Data is Series**

In [23]:
s1=pd.Series(['Ram Kumar','Shiv','Satyam','Sumit Jain','Jacky'])
s2=pd.Series(['Maths','Maths','Maths','Maths'])
s3=pd.Series([87,66,72,83,55])

data={'Name':s1,'Subject':s2,'Marks':s3}
df=pd.DataFrame(data)
df

         Name Subject  Marks
0   Ram Kumar   Maths     87
1        Shiv   Maths     66
2      Satyam   Maths     72
3  Sumit Jain   Maths     83
4       Jacky     NaN     55

**Code #4: When Data is 2D-numpy ndarray**

**Note:** One constraint has to be maintained while creating DataFrame of 2D arrays – Dimensions of 2D array must be same.

In [25]:
arr_2d_1=[[1,2,3],[4,5,6]]
arr_2d_2=[[7,8,9],[10,11,12]]

data=pd.DataFrame({'First':arr_2d_1,'Second':arr_2d_2})
data

       First        Second
0  [1, 2, 3]     [7, 8, 9]
1  [4, 5, 6]  [10, 11, 12]